html { height:100%; min-height:100%; }
body { font-family:Helvetica, Arial, sans-serif; margin:0px; padding:0px; background-color:#fff; color:#464646; position:relative; min-width:980px; margin-top:40px; }

.header { }
.footer { }

/***Colors***/
.color1 { }
.color2 { }
.color3 { }
.color4 { }

.bgColor1 { }
.bgColor2 { }
.bgColor3 { }
.bgColor4 { }

/***Transitions***/
.transition1 { transition:all 0.3s; -moz-transition:all 0.3s; -webkit-transition:all 0.3s; }

/***Common***/
.clear 	{ clear:both; } 
.px5 	{ clear:both; width:100%; height:5px; }
.px10 	{ clear:both; width:100%; height:10px; }
.px20 	{ clear:both; width:100%; height:20px; }
.px30 	{ clear:both; width:100%; height:30px; }
.px40 	{ clear:both; width:100%; height:40px; }
.px50 	{ clear:both; width:100%; height:50px; }
.error 	{ }
.error p { }
strong 	{ font-weight:bolder; }
